<h2>Editing Book</h2>

<!--ここから-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!--ここまでがrenderエラーメッセージ-->



<%= form_with model: @book do |f| %>  <!--@book=Book.new-->
  <h4>title</h4>
  <%= f.text_field :title%>
  
  <h4>Body</h4>
  <%= f.text_area :body%>
  
  <p></p>
   <%= f.submit "Update Book" %>
   
<%end%>

<%= link_to "Show", book_path(@book.id) %>
<%= link_to "Back", "/books" %>